
<div class="section group" ng-controller="deviceCtrl">
    <div class="col span_1_of_2">
        <div class="col_one">
            <label for="device_ip">Device IP:</label>
            <input class="input-sm" id="device_ip" ng-model="deviceIp"/>
        </div>
        <div class="col_one">
            <label for="method">Method:</label>
            <select id="method" ng-model="method">
                <option value="processInfo">Process</option>
                <option value="fileInfo">File System</option>
                <option value="location">Location</option>
                <option value="systemInfo">System</option>
            </select>
        </div>
        <div class="col_one">
            <button ng-click="goButton()" class="btn-success">Go</button>
        </div>
    </div>
    <div class="col span_2_of_2">
        <div class="app-content">
            <ul class="display" ng-show="loaded_method === 'processInfo' && loaded">
                <li class="display-content" ng-repeat="obj in message track by $index" ng-show="loaded_method === 'processInfo' && loaded">
                    <div class="process-img">
                        <img src="img/gears.png" class="process-img"/>
                    </div>
                    <div class="top-label">
                        <label for="process-name">Name:</label>
                        <label id="process-name" class="process-name">{{obj.name}}</label>
                    </div>
                    <div class="bottom-label">
                        <label for="process-id">ID:</label>
                        <label id="process-id" class="process-name">{{obj.pid}}</label>
                    </div>
                </li>
            </ul>

            <!--System INFO -->
            <div class="top-label" ng-show="loaded_method ==='systemInfo' && loaded">
                <img src="img/android.png" class="system-img"/>
            </div>
            <div class="bottom-label" ng-show="loaded_method === 'systemInfo' && loaded">
                <label for="user">User: </label>
                <label id="user">{{message.User}}</label>
            </div>
        </div>
    </div>
</div>
