.menu{
    font-size: 24px;
}

a.white-font{
    color: #000000;
}

li.link{
    margin-top: 2%;
}

textarea.result{
    height:400px;
    width:700px;
}

ul.display{

}

li.display-content{

}

img.process-img{
    height:30px;
    width:30px;
    float:left;
    margin-right: 5%;
}

img.system-img{

}

.process-name{

}

.process-img{

}

.top-label{

}

.bottom-label{

}

.app-content{
    height: 550px;
    width: 700px;
    overflow-y:scroll;
    border: 1px solid #000000;
}

.col_one{
    margin-top: 20%;
}

.bottom{
    position: fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background: #999999;
}

p.footer-txt{
    color:#ffffff;
    font-size: 11px;
    font-style: italic;
    text-align: center;
}

.section{
    clear:both;
    padding:0px;
    margin:0px;
}

.col{
    display: block;
    float: left;
    margin:1% 0 1% 1.6%;
}

.col:first-child{
    margin-left: 15px;
}

.group:before,
.group:after{
    content:"";
    display:table;
}

.group:after{
    clear:both;
}

.group{
    zoom: 1;
}

/* Grid of three */
.span_2_of_2{
    width: 70%;
}

.span_1_of_2{
    width:25%;
}

@media only screen and (max-width: 480px){
    .col{
        margin: 1% 0% 1% 0%;
    }
}

@media only screen and (max-width: 480px){
    .span_2_of_2{
        width: 100%;
    }

    .span_1_of_2{
        width:100%;
    }
}